.search-results-container {
    margin-left: 20px;
}
.search-form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.search-button {
    background-color: rgb(137, 198, 186);
    border-color: rgb(137, 198, 186);
    margin-left: 10px;
}

.search-button:hover {
    background-color: rgb(114, 177, 165);
}

.search-result {
    list-style: none;
    margin-left: 10px;
    margin-top: 15px;
    font-weight: 600;
}

.status {
    margin-left: 25px;
    margin-top: 5px;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 5px;
}