.nav-list {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

.nav-list li {
    list-style: none;
    font-size: 1.3em;
}

a:link {
    text-decoration: none;
    color: rgb(128, 206, 190, 0.75);
}

a:hover {
    text-decoration: underline;
    color: rgb(128, 206, 190);
}

a:visited {
    color: rgba(128, 206, 190, 0.75);
}

@media screen and (min-width: 768px) {
    .nav-list {
        width: 650px;
    }
}
    
