* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(248, 248, 248);
    padding: 20px;
}

h4 {
    font-size: 1.2em;
}

.strikethrough {
    text-decoration:line-through;
}

.light {
    background-color: rgb(248, 248, 248);
}

.dark{
    background-color: rgb(63, 63, 63);
    color: white;
}
/* header theme */
.header-light{
    background-color: white;
}

/* footer theme */
.logo-dark {
    color: rgb(188, 204, 232);
}

.footer-light {
    background-color: rgba(128, 206, 190, 0.25);
}

.on * {
    border: 1.5px dashed red;
}